/*body {
    background-color: black;
}*/
    /* #wrapper {
       width: 1500px;
       height: 1400px;
       margin-left: 50px;
     }*/



      .axis text {
        font: 16pt sans-serif;
        font-family: 'Poiret One', cursive;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      #selector-container {
        display: flex;
        flex-direction: space-between;
      }

      .selector {
        font-size: 20px;
        margin-left: 5px;
        flex:2;
      }

      #buttons {
        flex:4;
      }

      #scores, #salaries {
        text-align: center;
        box-sizing: border-box;
        font-size: 20px;
        background-color: #FF4D58;
        margin-left: 5px;
        margin-right: 3%;
        padding: 2px 5px;
        border: rgba(255,255,255,1) 1px solid;
      }

      #scores:hover {
          background-color: pink;
          transform: translateY(-5px);
        }

      #salaries:hover {
          background-color: red;
          transform: translateY(-5px);
        }


      #xaxis .domain {
      fill: none;
      stroke: #000;
      }

      #xaxis text,
      #yaxis text {
        font-size: 20px;
      }
