/*body {
    background-color: black;
}*/

      .axis text {
        font: 16pt sans-serif;
        font-family: 'Poiret One', cursive;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      .click {
        display: flex;
        flex-direction: space-between;
      }
      .button, .switch {
        text-align: center;
        box-sizing: border-box;
        font-size: 10px;
        background-color: #FF4D58;
        margin-right: 10px;
        padding: 2px 5px;
        border: rgba(255,255,255,1) 1px solid;
      }

      .button:hover {
          background-color: pink;
          transform: translateY(-5px);
        }

      .switch:hover {
          background-color: red;
          transform: translateY(-5px);
        }


       #xaxis .domain {
      fill: none;
      stroke: #000;
    }

    #xaxis text,
    #yaxis text {
      font-size: 20px;
    }
