<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>D3 App</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <!-- <link href="/css/nv.d3.min.css" rel="stylesheet"> -->
  <!-- <script src="//d3js.org/d3.v4.min.js"></script> -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  <script src="/script/main.js"></script>

</head>
<body>
  <main class="container">
  <div class="click">
    <input class="button" type="submit" value="see Denver">
    <input class="switch" type="submit" value="see Seattle">
    <input class="salaries" type="submit" value="see Denver salaries">
  </div>
    <div id="d3-elements">
    </div>
    <div class="nyc-crime-hospitals">
     <iframe width="100%" height="520" frameborder="0" src="https://skyxu.carto.com/builder/9c7e4c12-374d-11e7-aa90-0e98b61680bf/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </div>
    <div id="wrapper">
    </div>
    <!-- <section class="container">
    <% scores.forEach((score) => {%>
      <div class="housing">"<%= score.name %>"</div>
      <div class="scores">"<%= score.score_out_of_10 %>"</div>
    <%})%>
   </section> -->

  </main>
</body>
</html>
