<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>D3 App</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <!-- <link href="/css/nv.d3.min.css" rel="stylesheet"> -->
  <!-- <script src="//d3js.org/d3.v4.min.js"></script> -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
  <script src="/script/main.js"></script>
</head>
<body>
  <div class="container">

    <div id="selector_container">
      <div id="selector_menu">

          <select id="mycity" class="selector" onchange="myFunction()">
            <option value="denver">denver</option>
            <option value="seattle">seattle</option>
            <option value="san-francisco-bay-area">san francisco</option>
            <option value="pittsburgh">pittsburgh</option>
            <option value="new-york">new york</option>
            <option value="los-angeles">los angeles</option>
            <option value="washington-dc">DC</option>
          </select>
        </div>
        <div id="buttons">
            <input type="button" id="go" value="Go" style="display: inline-block"/>
            <input type="button" id="scores" value="Scores" style="display: inline-block"/>
            <input type="button" id="salaries" value="Salaries" style="display: inline-block"/>

        </div>
    </div>
      <div class="time-content">Current Time of the city:
      </div>
      <img class="picContainer" src="" />
      <div class="nyc-crime-hospitals">
       <iframe width="100%" height="520" frameborder="0" src="https://skyxu.carto.com/builder/9c7e4c12-374d-11e7-aa90-0e98b61680bf/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
      <p>Total score of the city:</p></br>
      <div class="sum-score">
      </div>
      <div class="summary">
      Summary of the city
      </div>
      <div id="d3-elements">
      </div>
      <div id="wrapper">
      </div>

  </div>
</body>
</html>
